/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}


nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

a {color: #000000}
/*--------------------*/



.app {
    padding: 69px 124px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    color: #000000;
    text-transform: none;
}

button {
    font-weight: normal;
    text-transform: uppercase;
    color: #000000;
    background: none;
}


/* Navbar */

.nav {
    position: fixed;
    width: 85.3%;
    top: 57px;
    transition: all .2s;
}

.nav__invisible {
    opacity: 0;
    transition: all .2s;
}

.nav nav {
    display: flex;
    align-items: top;
    justify-content: space-between;
    position: relative;
}

.nav__logo-wrapper {
    height: 47px;
    display: flex;
    align-items: center;
}

.nav__logo-item {
    position: relative;
    top: -10px;
}

.nav__logo-item:first-child img{
    height: 32px;
    margin-right: 43px;
}

.nav__logo-item:last-child img{
    height: 47px;
}


.nav__menu-item-wrapper {
    display: flex;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    align-items: top;
    transition: all .3s;
    width: 686px;
    justify-content: space-between;
}


.nav__menu-link {
    z-index: 2;
    position: relative;
    transition: all .1s;
}

.nav__menu-link:hover {
    color: #FB9C1B;
    transition: all .1s;
}

.nav__menu-dropdown {
    display: none;
}

.dropdown-active {
    position: relative;
    display: block;
    width: 206px;
    background: #F9F9F9;
    border-radius: 32px;
    padding:  66px 18px 18px 18px;
    position: relative;
    top: -40px;
    z-index: 1;
}

.nav__dropdown-item a {
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #868585;
}

.nav__dropdown-item a:hover {
    font-weight: 550;
    color: #FB9C1B;   
}

.nav__my-account {
    position: relative;
    top: -10px;
}

.nav__my-account-btn {
    width: 229px;
    height: 45px;
    background: #F9F9F9;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    transition: all .3s;
}

.nav__my-account-btn:hover {
    background: #000000;
    color: #ffffff;
    transition: all .3s;
}

/* Big title */

.big-title {
    font-style: normal;
    font-weight: normal;
    font-size: 100px;
    line-height: 119px;
    text-transform: none;
    margin-top: 213px;
    margin: 213px 0 162px 0;
    max-width: 1281px;
}

/* Reception */

.reception {
    height: 409px;
    border-radius: 115px;
    margin-bottom: 288px;
    background-color: rgba(143, 56, 56, 0);
}

.reception__photo {
    position: relative;
    z-index: 2;
    background: linear-gradient(270deg, #FFA41C 0%, #BF0202 92.28%);
    border-radius: 115px;
    width: 68%;
    height: 100%;
    left: -226px;
}

.reception__photo-visible {
    background: url('./media/imgs/reception.png') no-repeat 100% 100%/auto 100%;
}

.reception__menu {
    position: relative;
    z-index: 1;
    max-width: 1636px;
    height: 409px;
    border-radius: 115px;
    top: -409px;
    left: -260px;
    display: flex;
    padding: 49px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    background-color: #ffffff;
    box-shadow: 0px 4px 100px rgba(29, 29, 29, 0.2);
}

.reception__menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reception__btn button{
    background: #000000;
    border-radius: 33px;
    width: 306px;
    height: 66px;
    color: #ffffff;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    text-transform: none;
    margin-bottom: 30px;
}

.reception__btn {
    transition: all .3s;
}

.reception__btn:hover {
    transform: scale(1.02);
    transition: all .3s;
}

/* News */

.news {
    max-width: 855px;
    margin-right: 50px;
    margin-bottom: 240px;
}

.news__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.news__header {
    text-transform: uppercase;
    font-weight: 550;
    font-size: 45px;
    line-height: 44px;
}

.news__all {
    font-weight: normal;
    font-size: 25px;
    line-height: 30px;
    text-transform: none;
}

.news-card__big {
    padding: 55px;
    width: 100%;
    border-radius: 75px;
    background-color: rgb(85, 85, 85);
    color: white;
    height: 352px;
    margin-bottom: 64px;
    display: flex;
    align-items: flex-end;
    cursor: pointer;
}

.news-card__small {
    padding: 55px;
    height: 352px;
    width: 413px;
    border-radius: 75px;
    color: white;
    background-color: rgb(85, 85, 85);
    display: flex;
    align-items: flex-end;
    cursor: pointer;
}

.news-card__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.news-card__small {
    margin-bottom: 64px;
}

.news-big__title {
    font-weight: normal;
    font-size: 25px;
    line-height: 30px;
    max-width: 279px;
    margin-bottom: 15px;
}


.news-big__description {
    font-weight: 300;
    font-size: 12px;
    line-height: 12px;
    max-width: 250px
}

.news-small__title {
    font-weight: normal;
    font-size: 25px;
    line-height: 30px;
    max-width: 309px;
    margin-bottom: 15px;
}

.news-small__description {
    font-weight: 300;
    font-size: 12px;
    line-height: 12px;
    max-width: 250px
}

.news__more a {
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #989898;
}

.news__more a::after {
    content: "";
    display: inline-block;
    margin-left: 10px;
    width: 24px;
    height: 12px;
    background: url("./media/icons/Arrow.svg") no-repeat 0 0/100% auto;
}


/* Events */

.news-events-align {
    max-width: 1480px;
    margin: 0 auto 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.events {
    width: 487px;
    margin-bottom: 240px;
}

.events-header {
    margin-bottom: 100px;
    font-size: 45px;
    text-transform: uppercase;
    font-weight: bold;
}

.events-card {
    cursor: pointer;
}


.events__more a{
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #989898;
}

.events__more a::after {
    content: "";
    display: inline-block;
    margin-left: 10px;
    width: 24px;
    height: 12px;
    background: url("./media/icons/Arrow.svg") no-repeat 0 0/100% auto;
}
/* Events adaptive */

@media screen and (max-width: 1700px) {
    .news-events-align {
        align-items: center;
    }

   
}

/* EventsCard */

.events-card {
    margin-bottom: 40px;
    border-bottom: 2px solid #DFDFDF;
}

.events-card-header {
    margin-bottom: 50px;

    font-size: 30px;
    font-weight: normal;
}
.date-time-place-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.event-card-time-place {
    display: flex;
    justify-content: space-between;

    margin-bottom: 45px;
}

.event-date {
    margin-bottom: 20px;

    font-size: 20px;
    color: #0077CD;
    font-weight: normal;
}

.event-time {
    font-size: 20px;
    color: #989898;
    font-weight: normal;
}

.events-card-place {
    width: 228px;

    font-size: 20px;
    color: #989898;
    font-weight: normal;
}

/* Banner loop */

.loop-text {
    position: relative;
    left: -124px;
    width: 98.99vw;
    overflow: hidden;
    margin-bottom: 241px;
}

.loop-text img {
    position: relative;
    margin-bottom: 120px;
    animation: loop-text infinite  
    linear 10s;

}
  
@keyframes loop-text {
    0% {
        right: 4420px;
    }
    100% {
        right: 0;
    }
  }

  /* Footer */

.footer-block {
    width: 83,5%;
    height: 541px;

    margin-bottom: 150px;

    background-color: black;
    border-radius: 160px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-block-wrapper {
    color: white;
    width: 90%;
    height: 70%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-row {
    display: flex;
    justify-content: space-between;
}

/* .footer-row:nth-child(2) {
    height: 77px;
    background: linear-gradient(90deg, #FFA41C 1.26%, #BF0202 100%);
    border-radius: 33px;
} */

.footer-map {
    height: 30px;

    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
        
    display: flex;
    flex-direction: row;
}

.footer-map a {
    margin-right: 12px;
    padding-left: 15px;
    border-left: 1px solid white;
}

.footer-block a {
    color: white;
}

.footer-map a:last-child {
    border-right: 1px solid white;
    padding-right: 15px;
}

.social-media-block {
    width: 100%;
    height: 77px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(90deg, #FFA41C 1.26%, #BF0202 100%);
    border-radius: 33px;
}

.social-media-block a {
    margin-right: 20px;
}

.footer-contacts {
    display: flex;
    flex-direction: row;
    align-items: center;

    font-size: 20px;
    font-weight: 400;
    font-style: normal;
}

.footer-contacts:last-child p:last-child {
    font-weight: 700;
}

.footer-contacts img {
    margin-right: 10px;
}

.footer-policy {
    display: flex;
    flex-direction: row;
    align-items: center;

    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 31px;
    text-align: center;
}

.footer-policy a {
    color: #767676;
    margin-right: 50px;
}




/* Activities */

.activities {
    margin-bottom: 447px;
}

.activities__heading {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 80px;
    line-height: 95px;
    text-align: center;
    margin-bottom: 161px;
}

.activities__rows {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
}

.activities__item {
    font-weight: normal;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    height: 136px;
    background: #F6F6F6;
    box-shadow: 0px 4px 100px rgba(128, 128, 128, 0.25);
    border-radius: 88px;
    padding: 38px 47px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: wiggle 5s  infinite;
    transition: all .3s;
    cursor: pointer;
}

.activities__item:hover {
    transform: scale(2);
    z-index: 2;
    transition: all .3s;
    background: #cf4927;
    color: #F6F6F6;
}

@keyframes wiggle {
    0% {transform: rotate(5deg) translate(0px,0);}
    25% {transform: rotate(-5deg) translate(0,0);}
    50% {transform: rotate(4deg) translate(0px,0);}
    75% {transform: rotate(-6deg) translate(0px,0);}
    100% {transform: rotate(5deg) translate(0px,0);}
}

/* Partners */

.partners {
    display: flex;
    position: relative;
    width: 100vw;
    left: -250px;
    margin-bottom: 336px;
}

.partners__heading {
    width: 800px;
    height: 153px;
    background: linear-gradient(270deg, #FFA41C 0%, #BF0202 92.28%);
    border-radius: 115px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 75px;
    padding: 50px 114px;
}

.partners__heading p {
    font-weight: normal;
    font-size: 35px;
    line-height: 42px;
    max-width: 436px;
}

.partners__logo img {
    height: 100px;
    width: auto;
    margin-right: 38px;
}

.partners__logos {
    display: flex;
    align-items: center;
}

.easter-egg a {
    color: red;
    cursor: initial;
}
